form( role="form" method="get" action="/publications/search")
  div( class="input-group" ) 
    input( type="text" name="words" class="form-control"  placeholder=__("Search") )
    span( class="input-group-btn" )
      button( class="btn btn-default" type="submit" )
        span(class="glyphicon glyphicon-search")
        
        
        
        
        
        
