extends ./main-layout.pug

block body
  br
  br
  br
  div( class="container" )
    div( class="jumbotron" )
      if error_message === "Article was not found"
        h1(class="destinos-title-font text-center") 
          | #{__("The article you are looking for was not found")}
      else
        h1(class="destinos-title-font") #{__("Internal Server Error")}
        br
        h3 #{__("We're so sorry. We will work to solve this problem soon!")}
    br
    br
    include ./partials/logo-link.pug
    br